---
export interface Props {
    profileImg: string; // Image of the portrait
    name: string;
    shop: string; // Name of the shop they work at
}

const {profileImg, name, shop} = Astro.props as Props;
---

<div class="card-container">
    <img src={profileImg} alt="">
    <h2 style="font-family: Georgia, sans-serif"><strong>
        {name}
    </strong></h2>
    <p style="font-size: 16px; color: #582C83; padding: 0; text-align: center"><i><b>SEIU 1107 Executive Board Member</b></i></p>
    <p style="font-size: 20px; padding: 0; text-align: center"><i>{shop}</i></p>
</div>

<style>
    .card-container {
        max-width: 375px;
        padding: 10px;
        font-family: 'Roboto', sans-serif;

    }

    img {
        border-radius: 5%;
    }
</style>