<div
  class="relative z-20 flex flex-col justify-center items-center text-center lg:items-end lg:text-right h-96 lg:h-[500px] p-4"
>
  <div class="max-w-screen-sm">
    <div
      class="text-white tinyShadow font-Trebuchet font-bold uppercase py-5 text-center text-3xl lg:text-4xl"
    >
      Nevada's Health Care, Home Care, and Public Workers
    </div>
    <h1
      class="shadowClass uppercase font-bold font-Roboto text-supernova-400 text-center text-5xl lg:text-7xl mt-4 lg:mt-2"
    >
      United For Quality Services
    </h1>
  </div>
</div>

<style>
  .shadowClass {
    text-shadow: 3px 3px 3px black;
  }
  .tinyShadow {
    text-shadow: 3px 3px 2px black;
  }
</style>
