---
import type { MarkdownInstance } from "astro";
import HeadingTitle from "../../components/HeadingTitle.astro";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
    const blog: MarkdownInstance<Record<string, any>>[] = await Astro.glob(
        "../../posts/blog/*/*.md"
    );
    const pressReleases: MarkdownInstance<Record<string, any>>[] =
        await Astro.glob("../../posts/press releases/*/*.md");
    return blog
        .concat(pressReleases)
        .map((post: MarkdownInstance<Record<string, any>>) => ({
            params: {
                slug: post.frontmatter.url,
            },
            props: {
                post,
            },
        }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout
    title={frontmatter.title}
    backgroundStyling={frontmatter.type === "Press Release"
        ? "bg-gradient-to-b from-honey-flower-900 to-indigo-900"
        : "bg-gradient-to-b from-honey-flower-500 to-honey-flower-200"}
>
    <div
        class="my-4 max-w-[90vw] md:max-w-screen-md pb-2 px-2 bg-honey-flower-50 shadow-lg shadow-black flex-col mx-auto"
    >
        <HeadingTitle text={frontmatter.title} />
        
        <div class="flex mx-auto justify-center pb-4">
            <div class="text-center font-bold">
                {
                    new Date(frontmatter.date).toLocaleDateString("en-US", {
                        timeZone: "UTC",
                    })
                }
            </div>
            <div class="px-2 font-bold">
                {
                    frontmatter.type === "Press Release" ? (
                        <p class="text-supernova-600">Press Release</p>
                    ) : (
                        <p class="text-honey-flower-600">Blog Post</p>
                    )
                }
            </div>
        </div>

        
        {frontmatter.tags && 
        
        <div class="flex flex-wrap mx-auto justify-center max-w-screen-sm">
            
            <div class="italic text text-sm text-gray-700 font-Roboto">
                Tags:
            </div>
            {frontmatter.tags.map((tag: string) => 
                <div class="text-gray-500 italic text-sm px-2">
                {tag}    
                </div>
            )}
        </div>
        }
        <div
            class="py-2 prose mx-auto prose-a:text-blue-600 prose-a:hover:underline"
        >
            <Content />
        </div>
    </div>
</Layout>
