---
import Button from "../components/Button.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SEIU 1107 Page Not Found">
    <div class="flex-col justify-center p-10 content-center m-auto">
        <h1
            class="font-Trebuchet text-2xl text-honey-flower-800 text-center font-bold p-10"
        >
            Sorry about that!
        </h1>
        <p class="font-Roboto text-black font-l text-center">
            That page doesn't exist here. Maybe the URL has a typo in it, or it
            was deleted?
        </p>
        <div class="m-auto w-auto flex-col justify-center">
            <Button text="Back to Home" href="/" />
        </div>
    </div>
</Layout>
