---
import Layout from "../layouts/Layout.astro";
export async function getStaticPaths() {
    const posts = await Astro.glob("../posts/*.md");

    return posts.map((post) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post,
        },
    }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <div
        class="max-w-screen-xl bg-white p-5 rounded-md shadow-sm shadow-black flex-col my-5 mx-auto"
    >
        <h1
            class="m-auto font-Georgia text-purple-primary text-center py-5 text-4xl font-bold"
        >
            {frontmatter.title}
        </h1>
        <img alt="" src={frontmatter.image} />
        <div class="py-5 font-bold">
            {new Date(frontmatter.date).toLocaleDateString()}
        </div>
        <div class="leading-normal">
            <Content />
        </div>
    </div>
</Layout>
