---
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.astro";
export async function getStaticPaths() {
    const posts = await Astro.glob("../posts/*.md");

    return posts.map((post) => ({
        params: {
            slug: post.frontmatter.slug,
        },
        props: {
            post,
        },
    }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title}>
    <InfoCard>
        <h1
            class="m-auto font-Georgia text-purple-primary text-center py-5 text-4xl font-bold"
        >
            {frontmatter.title}
        </h1>
        <img alt="" src={frontmatter.image} />
        <div class="py-5 font-bold">
            {new Date(frontmatter.date).toLocaleDateString()}
        </div>
        <Content />
    </InfoCard>
</Layout>
