---
import CollageImage from "../components/CollageImage.astro";
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About SEIU Local 1107">
    <div class="flex flex-col max-w-6xl m-auto">
        <HeadingTitle
            text="The Largest Movement of Healthcare & Public Workers in Nevada"
        />
        <h2
            class="pb-2.5 text-center text-purple-primary italic font-Trebuchet text-3xl"
        >
            SEIU Nevada represents healthcare and public service employees
            across the state.
        </h2>

        <p class="py-2.5">
            We care for patients in hospitals in Elko, Reno, Las Vegas and
            Henderson. We protect the quality of the drinking water, administer
            benefits for low-income families, maintain Harry Reid International
            Airport, protect our communities' most vulnerable members, maintain
            the streets and parks, work with foster children, and provide many
            other services that keep the region running.
        </p>

        <h2 class="text-purple-primary font-Trebuchet font-bold text-3xl">
            Who is SEIU Nevada?
        </h2>

        <p class="py-2.5">
            <b>SEIU Nevada</b> represents workers across Nevada. Our union is part
            of the Service Employees International Union, which is the fastest-growing
            union in the United States, with more than two million members.
        </p>
        <p class="py-2.5">
            <b>SEIU is building a 21st-century global union</b> to help ensure that
            workers, not just corporations, and CEOs, benefit from today's global
            economy. SEIU is working with unions in similar industries across the
            globe to provide decent wages and benefits and allow workers in every
            country the freedom to form unions.
        </p>
    </div>
</Layout>
