---
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About SEIU Local 1107">
    <HeadingTitle text="About SEIU Local 1107" />
    <h1 class=""></h1>
</Layout>
