---
import Button from "../components/Button.astro";
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Careers SEIU 1107">
    <div class="flex flex-col max-w-screen-xl px-3 m-auto">
        <HeadingTitle text="Work at SEIU Local 1107!" />
        <p class="text-center font-Roboto text-black text-lg">
            <b>
                Join the largest movement of healthcare and public sector
                workers in Nevada!
            </b>
            <br />
             We're looking for hard-working people committed to creating real
            change for working families.
        </p>

        <div class="max-w-lg flex justify-center m-auto py-1.5">
            <Button
                text="Visit UnionJobs.com"
                href="https://unionjobs.com/location.php?state=Nevada"
            />
        </div>

        <p class="font-Trebuchet text-left font-bold text-black text-3xl py-5">
            Communications Coordinator (Full-Time)
        </p>

        <p></p>
        <p class="font-Roboto py-1.5">
            The Communications Coordinator will provide strategic planning,
            leadership, and supervision through message development, campaign
            execution, member mobilization, and traditional and social media.
            The position will coordinate communications strategies for
            union-wide programs and campaigns. The coordinator will advise the
            Executive Director and/or designees on all aspects of public
            relations and member communications strategies and plays a key role
            in advocacy coalitions and political campaigns.
        </p>
        <p class="font-Roboto py-1.5">
            The position will oversee public relations, internal communications,
            media relations, paid media, and digital and social media outreach
            and advocacy. The position will lift up the voices and issues of our
            membership, ensure that the union's message and narrative are front
            and center in the media and community and train and develop members
            to be union spokespeople and advocates.
        </p>
        <div class="max-w-lg flex justify-center m-auto">
            <Button
                text="View Full Job Description"
                href="/PDFs/Communications Coordinator (Rev. 11-09-22).pdf"
            />
        </div>
        <p class="font-Trebuchet text-left font-bold text-black text-3xl py-5">
            Home Care Director (Full Time)
        </p>
        <p class="font-Roboto py-1.5">
            This Director level position be responsible for leading the local
            union's active home care organizing campaign. The Director will lead
            all aspects of the program including membership representation,
            organizing new bargaining units, identifying and determining the
            legislative and political priorities of home care members, and
            integrating the local program with the national union care agenda.
        </p>
        <div class="max-w-lg flex justify-center m-auto">
            <Button
                text="View Full Job Description"
                href="/PDFs/Home Care Director (Posting 09-11-23).pdf"
            />
        </div>
    </div>
</Layout>
