---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import AFRAMFlyer from "../images/caucuses/AFRAM Flyer 2024.png";
import Button from "../components/Button.svelte";
---

<Layout
  title="SEIU AFRAM Caucus"
  centered="true"
  backgroundStyling="bg-[#E3BB18]"
>
  <div class="flex flex-col">
    <Image class="object-contain h-[90vh]" src={AFRAMFlyer} alt="AFRAM" />
    <div class="mt-5 mx-auto">
      <Button
        styling="text-white bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest scale-125"
        text="Download Constitution & Bylaws (PDF)"
        href="/PDFs/AFRAM C&B.pdf"
        target="_blank"
      />
    </div>
  </div>
</Layout>
