---
import HeadingTitle from "../components/HeadingTitle.astro";
import InfoCard from "../components/InfoCard.astro";
import InfoCardGridLayout from "../components/InfoCardGridLayout.astro";
import LinkText from "../components/LinkText.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SEIU 1107 Contact Us">
    <div class="flex flex-col justify-center m-auto max-w-screen-xl py-2">
        <HeadingTitle text="Contact Us" />
        <p class="text-center">
            <b>Telephone:</b> (702) 386 - 8849
        </p>
        <InfoCardGridLayout
            styling="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-0 py-0 px-5 mx-auto max-w-screen-xl sm:max-w-[90vw]"
        >
            <InfoCard>
                <p>
                    For Representation and Collective Bargaining Agreements:
                    <br />
                    <LinkText href="mailto:representation@seiunv.org">
                        representation@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
            <InfoCard>
                <p>
                    For Organizing and Membership:
                    <br />
                    <LinkText href="mailto:memberaction@seiunv.org">
                        memberaction@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
            <InfoCard>
                <p>
                    Media Inquiries:
                    <br />
                    <LinkText href="mailto:memberaction@seiunv.org">
                        memberaction@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
            <InfoCard>
                <p>
                    Political and Community Organizing:
                    <br />
                    <LinkText href="mailto:poc1107@seiunv.org">
                        poc1107@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
            <InfoCard>
                <p>
                    Administration and Human Resources
                    <br />
                    <LinkText href="mailto:finance@seiunv.org">
                        finance@seiunv.org
                    </LinkText>
                    <br />
                    <LinkText href="mailto:humanresources@seiunv.org">
                        humanresources@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
            <InfoCard>
                <p>
                    Election Committee
                    <br />
                    <LinkText href="mailto:election.committee@seiunv.org">
                        election.committee@seiunv.org
                    </LinkText>
                </p>
            </InfoCard>
        </InfoCardGridLayout>
    </div>
</Layout>
