---
import HeadingTitle from "../components/HeadingTitle.svelte";
import Layout from "../layouts/Layout.astro";
import imgEndorsements from "../images/endorsements/Endorsements.png";
import { Image } from "astro:assets";
import BallotReady from "../components/BallotReady.svelte";
---

<Layout title="SEIU 1107 Endorsements" centered="true">
  <HeadingTitle text="SEIU 1107 Political Endorsements" />
  <p
    class="text-2xl m-auto text-center text-black font-Roboto pb-4 max-w-screen-lg"
  >
    SEIU Local 1107 represents 19,000 workers and their families in the health
    care field and the public sector across Nevada. Together, SEIU Local 1107
    members fight for better wages, benefits, social justice, and a better way
    of life for all working Nevadans.
  </p>
  <div class="flex flex-col m-auto pb-10 lg:grid lg:grid-cols-6 xl:grid-cols-12">
    <div class="flex flex-col m-auto pb-5 lg:col-span-5 xl:col-span-9">
      <p class="text-center text-2xl italic font-bold py-2">
        SEIU 1107 Supports Cadidates that WIN for Us! Vote today!
      </p>

      <Image
        src={imgEndorsements}
        alt="Endorsements"
        class="max-w-[80%] m-auto rounded-md shadow-black shadow-md"
      />
    </div>
    <div class="flex flex-col m-auto max-w-sm lg:col-span-1 xl:col-span-3">
      
      <BallotReady />
    </div>
  </div>
</Layout>
