---
import Layout from "../layouts/Layout.astro";
import HeadingTitle from "../components/HeadingTitle.astro";

import "../styles/global.css";
---

<Layout title="SEIU 1107 Events">
    <HeadingTitle text="Events" />
    <div
        class="border-0 overflow-hidden m-auto flex max-w-[95vw] justify-center py-2"
    >
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=America%2FLos_Angeles&showPrint=0&title=SEIU%201107%20Events&mode=MONTH&showCalendars=1&src=YTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23B39DDB&color=%237986CB"
            style="border:solid 1px #361259"
            class="hidden md:flex"
            width="800"
            height="600"></iframe>
        <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23B39DDB&ctz=America%2FLos_Angeles&showPrint=0&title=SEIU%201107%20Events&mode=AGENDA&src=YTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&color=%23B39DDB&color=%237986CB"
            style="border:solid 1px #361259"
            class="flex md:hidden"
            width="800"
            height="600"></iframe>
    </div>
</Layout>
