---
import HeadingTitle from "../components/HeadingTitle.svelte";
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.astro";
import LinkText from "../components/LinkText.astro";
import { Image } from "astro:assets";

import bannerImg from "../images/homecare/banner.png";

import Irma from "../images/homecare/Irma.jpg";
---

<Layout title="Homecare Workers United!" centered="true">
  <HeadingTitle
    text="Join Our Growing Union Movement to Win $20 an Hour and Quality Home Care!"
  />

  <Image
    class="hidden lg:flex m-auto"
    src={bannerImg}
    alt="Homecare Workers United!"
  />

  <div class="mx-auto">
    <InfoCard>
      <div class="text-lg">
        <p>
          If you're a non-union home care worker and want to join our movement,
          fill out a union card <LinkText
            target="_blank"
            href="https://secure.everyaction.com/fHjNlIRtd0aJc9SexCJCow2"
            >here</LinkText
          >.
        </p>
        <p class="py-2">
          If your agency is already represented by SEIU 1107, become a union
          member <LinkText
            target="_blank"
            href="https://act.seiu.org/a/membership-application-6"
            >here</LinkText
          > and contribute to our political action fund <LinkText
            href="https://seiunv.org/political_action/">here</LinkText
          >.
        </p>
        <p class="py-2">
          To get involved or for more info, contact 702-755-4307 or
          <LinkText href="mailto:homecare@seiunv.org"
            >homecare@seiunv.org</LinkText
          >
        </p>
      </div>
    </InfoCard>
  </div>

  <div class="flex flex-col m-auto max-w-screen-lg">
    <div>
      <Image
        src={Irma}
        alt=""
        class="rounded-lg lg:rounded-2xl lg:p-3 m-auto max-w-xs lg:max-w-md lg:float-right"
      />
      <p class="py-2 text-xl">
        Through our united action, home care workers won the historic $16
        minimum wage and funding increase. Over 1,000 caregivers have voted by a
        landslide to join SEIU 1107 and hundreds have achieved strong union
        contracts.
      </p>
      <p class="py-2 text-xl">
        But we can't stop here. We urgently need to build on this foundation and
        keep making more progress toward a better future for our clients, our
        families and ourselves. That's why we're advocating powerfully for our
        “Silver State Home Care Standards” in the legislature:
      </p>
      <ul class="list-disc pl-3 text-xl">
        <li>$20 minimum wage</li>
        <li>Increased funding</li>
        <li>More client hours</li>
        <li>Professional training</li>
        <li>Reduced red tape</li>
      </ul>
      <p class="py-2 text-lg">
        “Providing loving care to others is my God-given life's purpose. An
        essential part of that mission is speaking out for our clients through
        our union. Over 1,000 home care workers, including me, have voted to
        join our union and hundreds more are on their way. There's strength in
        numbers - the more who join our movement, the more we can win!” <i
          >- Malu Lopez, Nevada home care worker</i
        >
      </p>
    </div>
  </div>
  <p class="py-2 flex m-auto text-xl font-bold">Read More</p>
  <div class="flex flex-row max-w-xl m-auto">
    <div class="flex flex-col px-2.5">
      <LinkText
        href="https://www.reviewjournal.com/business/nevada-workers-in-growing-health-care-industry-are-unionizing-2896793/"
      >
        <b>Nevada workers in growing health care industry are unionizing</b>
      </LinkText>
      <p>Las Vegas Review-Journal</p>
      <p>Aug. 31, 2023</p>
    </div>

    <div class="flex flex-col px-2.5">
      <LinkText
        href="https://lasvegassun.com/news/2023/sep/10/celebrate-historic-victories-for-good-jobs-and-qua/"
      >
        <b>Celebrate historic victories for good jobs and quality services</b>
      </LinkText>
      <p>Las Vegas Sun</p>
      <p>Sept. 10, 2023</p>
    </div>
  </div>
</Layout>
