---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import WhyJoinCards from "../components/WhyJoinCards.astro";
import StartingCard from "../components/Index/StartingCard.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
---

<Layout>
    <main
        class="bg-[url(/src/images/IndexBanner.png)] bg-cover bg-center mx-auto w-full"
    >
        <div class="max-w-screen-xl m-auto py-10 lg:py-12">
            <div class="md:max-w-screen-md">
                <h1
                    class="shadowClass mx-5 font-bold font-Trebuchet text-left text-supernova-400 text-4xl md:text-5xl"
                >
                    Healthcare, homecare, and public workers united for quality
                    services.
                </h1>
            </div>
            <div
                class="text-white mx-5 py-5 tinyShadow text-left text-2xl md:text-3xl md:max-w-screen-md lg:max-w-scre"
            >
                We are SEIU Local 1107, a community of members on a mission to
                unite all working people for future generations by leading the
                path to improve society with a diverse, effective, political,
                and <i>Just</i> organization.
            </div>
            <ul
                role="list"
                class="pt-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-0 justify-center"
            >
                <StartingCard href="/join" title="Become A Member">
                    <p>Become a member of SEIU!</p>
                </StartingCard>
                <StartingCard href="/union_difference" title="Why Join?">
                    <p>
                        Learn how becoming a member gives you a voice in the
                        workplace!
                    </p>
                </StartingCard>
                <StartingCard href="/stewards" title="Find My Steward">
                    <p>Meet the stewards of your workplace!</p>
                </StartingCard>
                <StartingCard href="/get_involved" title="Attend An Event">
                    <p>
                        View upcoming events, know your rights, and learn how to
                        get involved with your union and the community.
                    </p>
                </StartingCard>
            </ul>
        </div>
    </main>

    <LatestNews />

    <SocialMediaFeeds />
</Layout>

<style>
    .shadowClass {
        text-shadow: 3px 3px 3px black;
    }
    .tinyShadow {
        text-shadow: 3px 3px 2px black;
    }
</style>
