---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
---

<Layout>
    <main
        class="bg-cover bg-top lg:bg-left bg-[url(/src/images/HomecareMobile.png)] lg:bg-[url(/src/images/HomecareGraphic.jpg)] h-full mx-auto w-full"
    >
        <div
            class="flex flex-col mx-auto lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md py-10 lg:py-12"
        >
            <div
                class="text-white tinyShadow font-Trebuchet font-bold uppercase py-5 text-center text-3xl lg:text-4xl max-w-screen-sm m-auto lg:m-0 lg:ml-auto lg:pr-3"
            >
                Nevada's Health Care, Home Care, and Public Workers
            </div>
            <div class="lg:max-w-screen-sm m-auto lg:m-0 lg:ml-auto">
                <h1
                    class="shadowClass uppercase font-bold mx-5 font-Trebuchet text-center text-supernova-400 text-6xl lg:text-7xl"
                >
                    United For Quality Services
                </h1>
            </div>
        </div>
    </main>

    <StrongerTogether />
    <LatestNews
        bgColor="bg-gradient-to-b from-honey-flower-900 to-honey-flower-700"
    />
    <SocialMediaFeeds
        bgColor="bg-gradient-to-b from-honey-flower-700 to-honey-flower-500"
    />
</Layout>

<style>
    .shadowClass {
        text-shadow: 3px 3px 3px black;
    }
    .tinyShadow {
        text-shadow: 3px 3px 2px black;
    }
</style>
