---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import StartingCard from "../components/Index/StartingCard.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
---

<Layout>
    <main
        class="bg-[url(/src/images/IndexBanner.png)] bg-cover bg-center mx-auto w-full"
    >
        <div class="max-w-screen-xl m-auto py-10 lg:py-12">
            <div class="md:max-w-screen-md">
                <h1
                    class="shadowClass mx-5 font-bold font-Trebuchet text-left text-supernova-400 text-4xl md:text-5xl"
                >
                    Healthcare, homecare, and public workers united for quality
                    services.
                </h1>
            </div>
            <div
                class="text-white mx-5 py-5 tinyShadow text-left text-2xl md:text-3xl md:max-w-screen-md lg:max-w-scre"
            >
                We are SEIU Local 1107, a community of members on a mission to
                unite all working people for future generations by leading the
                path to improve society with a diverse, effective, political,
                and <i>Just</i> organization.
            </div>
        </div>
    </main>

    <LatestNews />

    <StrongerTogether />

    <SocialMediaFeeds />
</Layout>

<style>
    .shadowClass {
        text-shadow: 3px 3px 3px black;
    }
    .tinyShadow {
        text-shadow: 3px 3px 2px black;
    }
</style>
