---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import SocialMediaFeeds from "../components/Index/SocialMediaFeeds.astro";
import StrongerTogether from "../components/Index/StrongerTogether.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";
import CollageImage from "../components/CollageImage.astro";
import Button from "../components/Button.svelte";

import imgTogether from "../images/index/JoinTogether.jpg";
import AFRAMLogo from "../images/caucuses/AFRAM Logo.png"
import LinkText from "../components/LinkText.astro";
---

<Layout>
  <main
    class="hidden lg:hidden bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] h-full mx-auto w-full"
  >
    <div class="flex flex-col lg:flex-row xl:mx-10">
      <div
        class="lg:hidden pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl max-w-screen-sm m-auto"
      >
        Watch SEIU 1107's 2023 Recap!
      </div>
      <div class="mx-auto py-5 hidden lg:block lg:pt-20">
        <iframe
          width="672"
          height="378"
          src="https://www.youtube.com/embed/VEipjl7Pc4U?si=xUQ4S0rhiO8cpzB8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </div>
      <div
        class="flex flex-col mx-auto pb-20 lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md"
      >
        <div
          class="hidden lg:block pt-5 text-white tinyShadow font-Trebuchet font-bold uppercase text-center text-5xl lg:text-6xl max-w-screen-sm m-auto"
        >
          SEIU Nevada's 2023 Recap!
        </div>
        <h1
          class="shadowClass uppercase font-bold mx-5 py-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          When we fight, we win!
        </h1>
        <div class="mx-auto lg:max-w-screen-sm pt-10">
          <Button
            text="Watch on Youtube"
            href="https://youtu.be/VEipjl7Pc4U?si=zUoBcD9ZaKm_FHOi"
            styling="bg-supernova-400 hover:bg-supernova-500 text-honey-flower-800 scale-125 hover:scale-[145%] lg:scale-150 lg:hover:scale-[160%] active:bg-supernova-600"
            ;
          />
        </div>
      </div>
    </div>
  </main>
  <div class="bg-gradient-to-bl from-supernova-300 to-supernova-500 py-4">
    <HeadingTitle
      text="FOR MEMBERS - Apply for the SEIU 1107 Academic Scholarship!"
    />

    <div
      class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
    >
      <div class="flex flex-col"></div>
      <p class="py-2 text-black text-bold text-xl text-left mx-2">
        To apply for the SEIU Local 1107 2024-2025 Academic Scholarship, please
        complete the application and submit all required materials via email to
        <LinkText href="mailto:scholarship@seiunv.org"
          >scholarship@seiunv.org</LinkText
        >
        <b>on or before 5 p.m. July 26, 2024. </b> No applications will be considered
        after that date. Six (6) scholarship winners will be notified the week of
        July 29, 2024, by the Scholarship Committee Chair.
      </p>
      <p class="py-2 text-black text-bold text-xl text-left mx-2">
        Verification of college enrollment/training program will be required
        before the award is mailed to the college, university or training
        institution. Scholarship funds must be applied toward tuition, fees and
        other appropriate educational expenses.
      </p>
      <p class="py-2 text-black text-bold text-xl text-left mx-2">
        Scholarship winners will be acknowledged on <b>August 3, 2024</b>, at
        our <LinkText
          href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=Njk0aHNwaDZpaWc5czZldHB2YjY5YTVmc28gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
          target="_blank"><b>Back-To-School & Scholarship Event</b></LinkText
        > (Location to be determined).
      </p>
      <div class="flex flex-col md:flex-row mx-auto">
        <div class="md:mx-1.5 m-auto my-1.5">
          <Button
            target="_blank"
            text="Download Application PDF"
            class="mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="/PDFs/2024 SEIU1107 Scholarship Application and Essay.pdf"
          />
        </div>
        <div class="md:mx-1.5 m-auto my-1.5">
          <Button
            target="_blank"
            text="View Policy"
            class="mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="/PDFs/2024 SEIU1107 Scholarship Policy.pdf"
          />
        </div>
        <div class="md:mx-1.5 m-auto my-1.5">
          <Button
            target="_blank"
            text="Scholarship Event (Google Calendar)"
            class="mx-auto text-white scale-125 hover:scale-[140%] bg-honey-flower-800 hover:bg-honey-flower-950 active:bg-purple-darkest"
            href="https://calendar.google.com/calendar/event?action=TEMPLATE&tmeid=Njk0aHNwaDZpaWc5czZldHB2YjY5YTVmc28gYTNhMzQxOGM1ODNiNDdlNDQzYmU2ODFhNmIxYzU1YjM1OThiOGVjZDQ2YzhlYmNjNzQzMmY2MDc5MWEzZmQ0OEBn&tmsrc=a3a3418c583b47e443be681a6b1c55b3598b8ecd46c8ebcc7432f60791a3fd48%40group.calendar.google.com"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-b from-honey-flower-800 to-honey-flower-900 py-4">
    <HeadingTitle
      styling="m-auto font-Trebuchet font-bold text-center text-supernova-400 py-5"
      text="Attend our SEIU African American Caucus Membership Meetings!"
    />

    <div
      class="m-auto max-w-screen-xs sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg flex flex-col"
    >
      <CollageImage
        src={AFRAMLogo}
        horizontal="right"
        imageStyle="shadow-black shadow-sm rounded-md m-auto max-w-xs sm:max-wd-sm md:max-w-md lg:max-w-xl"
      >
        <div class="flex flex-col">
          <p class="py-2 text-white text-xl text-left mx-2">
            The National African American Caucus of the Service Employees
            International Union (SEIU) is committed to enhancing opportunities
            for education, training mentor-ship, leadership development and
            networking for SEIU members and staff of African descent.
          </p>
          <p class="py-2 text-white text-xl text-left mx-2">
            We further engage to promote social, economic and political justice
            within our workplace, our communities, our nation and within our
            union.
          </p>
          <p class="py-2 text-white text-xl text-left mx-2">
            We shall further encourage our members to actively engage in efforts
            to organize the unorganized and to fully participate in the
            development and implementation of labor's political agenda and
            programs.
          </p>
          <Button
            text="Meeting Dates"
            styling="mt-5 mx-auto text-honey-flower-800 scale-125 hover:scale-[140%] bg-supernova-400 hover:bg-supernova-500 active:bg-supernova-600"
            href="/caucuses"
          />
        </div>
      </CollageImage>
    </div>
  </div>

  <main
    class="bg-cover bg-top lg:bg-left bg-[url(/src/images/index/HomecareMobile.png)] lg:bg-[url(/src/images/index/HomecareGraphic.jpg)] h-full mx-auto w-full"
  >
    <div
      class="flex flex-col mx-auto lg:m-0 lg:ml-auto justify-between max-w-md lg:max-w-screen-md py-10 lg:py-12"
    >
      <div
        class="text-white tinyShadow font-Trebuchet font-bold uppercase py-5 text-center text-3xl lg:text-4xl max-w-screen-sm m-auto lg:m-0 lg:ml-auto lg:pr-3"
      >
        Nevada's Health Care, Home Care, and Public Workers
      </div>
      <div class="lg:max-w-screen-sm m-auto lg:m-0 lg:ml-auto">
        <h1
          class="shadowClass uppercase font-bold mx-5 font-Roboto text-center text-supernova-400 text-6xl lg:text-7xl"
        >
          United For Quality Services
        </h1>
      </div>
    </div>
  </main>

  <StrongerTogether />
  <LatestNews />
  <div class="py-4 bg-gradient-to-b from-honey-flower-200 to-honey-flower-300">
    <HeadingTitle text="Why We're Joining Together" />
    <div class="flex m-auto max-w-[90vw] lg:max-w-screen-lg">
      <CollageImage src={imgTogether}>
        <div class="text-md lg:text-lg">
          <p class="py-2">
            Public service, home care and health care workers are joining
            together to get a real say over our wages, staffing, retirement, and
            working conditions. We're united, and we're building the strength
            necessary to secure record contracts, win policy changes in the
            state legislature and raise standards for all working people.
          </p>
          <p class="py-2 pb-5">
            We're standing up to protect the marginalized, fight for the quality
            services that Nevada residents and our patients deserve, and win
            fair pay increases for everyone—including chronically underpaid
            women and people of color—throughout our state.
          </p>
        </div>
        <Button href="/join" text="Join Us" />
      </CollageImage>
    </div>
  </div>

  <SocialMediaFeeds />
</Layout>

<style>
  .shadowClass {
    text-shadow: 3px 3px 3px black;
  }
  .tinyShadow {
    text-shadow: 3px 3px 2px black;
  }

  .video-container {
    position: relative;
    height: 0;
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
</style>
