---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Benefits from '../components/Benefits.astro';
import CycleText from '../components/CycleText.astro';


const words = ['Nurses', 'Doctors', 'Homecare Workers', 'Lab Techs', 'Drivers', 'Medical Assistants',
'Sales Reps', 'EVS Aides', 'Pharmacy Technicians', 'Custodians', 'Food Service Workers']

---

<Layout>
    <div class="vidshowcase">
        <video src="https://seiu99.org/wp-content/uploads/2018/08/herovid.mp4" type="video/mp4" autoplay muted loop></video>

        <div class="absolute font-Verdana font-bold top-0 left-0 w-[100%] h-[100%] flex flex-col justify-center text-5xl text-center">
            <h1>We are</h1>
            <h1><CycleText words={words} interval=1000 /></h1>
            <h1>United!</h1>
        </div>

        <div class="cycletext">


        </div>
    </div>

    <Showcase />
    <h1 style="text-align: center; padding: 10px;">Why should I join a union?</h1>
    <Benefits />
</Layout>

<style>

    .cycletext {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .vidshowcase {
        position: relative;
        right: 0;
        width: 100%;
        min-height: 50vh;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #fff;
    }

    .vidshowcase video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    .vidshowcase h1 {
        color: white;
    }

    .vidshowcase p {
        color: white;
        z-index: 2;
    }

    h1 {
        font-family: Verdana, sans-serif;
        color: black;

    }

</style>