---
import Layout from "../layouts/Layout.astro";
import LatestNews from "../components/Index/LatestNews.astro";
import WhyJoinCards from "../components/WhyJoinCards.astro";
import StartingCard from "../components/Index/StartingCard.astro";
---

<Layout>
    <main
        class="bg-[url(/src/images/IndexBanner.png)] bg-cover bg-center mx-auto w-full"
    >
        <div class="max-w-7xl m-auto py-12 lg:py-16">
            <h1
                class="shadowClass mx-5 font-bold font-Trebuchet text-left text-supernova-400 text-5xl md:text-6xl drop-shadow-2xl"
            >
                Welcome to SEIU Local 1107
            </h1>
            <div class="text-white mx-5 pt-2 tinyShadow text-left">
                2250 S. Rancho Drive #165, Las Vegas, NV 89102
            </div>
            <div class="text-white mx-5 pt-2 tinyShadow text-left">
                (702) 386 - 8849
            </div>
            <ul
                role="list"
                class="pt-2 grid grid-cols-1 sm:grid-cols-2 gap-0 p-0"
            >
                <StartingCard href="/join" title="Join SEIU 1107">
                    <p>Become a member of SEIU!</p>
                </StartingCard>
                <StartingCard href="/under_construction" title="My Union">
                    <p>View your stewards, contract, etc.</p>
                </StartingCard>
                <StartingCard href="/under_construction" title="Get Involved">
                    <p>Lorem ipsum dolor</p>
                </StartingCard>
                <StartingCard href="/about_us" title="About Us">
                    <p>Lorem ipsum dolor</p>
                </StartingCard>
            </ul>
        </div>
    </main>

    <div class="bg-gradient-to-b from-honey-flower-50 to-honey-flower-300 pb-4">
        <LatestNews />
        <h1
            class="m-auto font-Trebuchet font-bold text-center text-black pt-5 text-5xl"
        >
            Why Join?
        </h1>
        <WhyJoinCards />
    </div>
</Layout>

<style>
    .shadowClass {
        text-shadow: 5px 5px 2px black;
    }

    .tinyShadow {
        text-shadow: 3px 3px 2px black;
    }
</style>
