---
import HeadingTitle from "../components/HeadingTitle.svelte";
import Layout from "../layouts/Layout.astro";
import LinkText from "../components/LinkText.astro";
---

<Layout title="Join SEIU 1107" centered={true}>
  <div class="py-2">
    <HeadingTitle text="Join SEIU Local 1107 Today!" />
    <div class="flex flex-col m-auto text-center max-w-lg">
      <p class="py-1.5">
        <b>We're stronger together -</b> When workers unite we can win better pay,
        benefits, working conditions and a real voice on the job.
      </p>
      <p class="py-1.5">
        <b>Only members have a say and a vote -</b> Members have the right to vote
        on collective bargaining agreements and participate in union and worksite
        elections.
      </p>
      <p class="py-1.5">
        <b
          >Members have access to exclusive benefits, including discounted
          services, scholarships, college programs, and more.</b
        >
      </p>
    </div>
    <div
      class="bg-honey-flower-800 p-1 mb-10 m-auto max-w-5xl rounded-lg shadow-md shadow-black"
    >
      <div class="bg-honey-flower-200 p-4 max-w-5xl rounded-lg">
        <p class="text-2xl text-center pb-2 font-bold text-honey-flower-800">
          If your workplace is already represented by SEIU 1107
        </p>
        <p class="text-xl">
          Click on your workplace below or call us right now at 702-386-8849 to
          get more information on how you can become a member of SEIU Local
          1107.
        </p>
        <p class="m-auto font-Trebuchet font-bold text-black py-2 text-3xl">
          Public Sector
        </p>
        <ul data-no-translate class="list-disc pl-3 text-xl">
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              Clark County
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              Water Reclamation District
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              Las Vegas Convention & Visitors Authority
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              Regional Transportation Commission of Southern Nevada
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/NPcgC4sIuUyj-lXgaAYfDQ2"
            >
              Southern Nevada Health District
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              Southern Nevada Regional Housing Authority
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
            >
              University Medical Center
            </LinkText>
          </li>
        </ul>
        <p class="m-auto font-Trebuchet font-bold text-black py-2 text-3xl">
          Healthcare
        </p>
        <ul data-no-translate class="list-disc pl-3 text-xl">
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/WcM_86kfMkC5ntFBFwwrhQ2"
            >
              Dignity Health/St. Rose Dominican Hospitals
            </LinkText>
          </li>
          <li>
            <LinkText href="https://act.seiu.org/a/membership-application-6">
              Educare
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
            >
              HCA Mountain View Hospital
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
            >
              HCA Southern Hills
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
            >
              HCA Sunrise Hospital
            </LinkText>
          </li>
          <li>
            <LinkText href="https://act.seiu.org/eedGzImOGkOGEYo0kzU6PA2">
              Northeastern Nevada Regional Hospital
            </LinkText>
          </li>
          <li>
            <LinkText href="https://act.seiu.org/UzP8aun1lkqMsnMNdfUTpw2">
              Renown Regional Medical Center
            </LinkText>
          </li>
        </ul>
        <p class="m-auto font-Trebuchet font-bold text-black py-2 text-3xl">
          Home Care
        </p>
        <ul data-no-translate class="list-disc pl-3 text-xl">
          <li>
            <LinkText
              href="https://act.seiu.org/a/membership-application-home-care"
            >
              Home Care Workers - Membership Application (English)
            </LinkText>
          </li>
          <li>
            <LinkText
              href="https://act.seiu.org/a/membership-card-home-care-espanol"
            >
              Home Care Workers - Solicitud de membresía (Español)
            </LinkText>
          </li>
        </ul>
        <p class="text-2xl text-center py-2 font-bold text-honey-flower-800">
          Retiree Membership
        </p>
        <ul class="list-disc pl-3 text-xl">
          <li>
            <LinkText
              href="https://act.seiu.org/a/membership-application-retiree"
            >
              Retiree Membership Card
            </LinkText>
          </li>
        </ul>
        <p class="text-2xl text-center py-2 font-bold text-honey-flower-800">
          If you are a non-union worker at a workplace not yet represented by
          SEIU 1107
        </p>
        <ul class="list-disc pl-3 text-xl">
          <li>
            <LinkText
              href="https://secure.everyaction.com/fHjNlIRtd0aJc9SexCJCow2"
            >
              Home Care Workers - Authorization Card
            </LinkText>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
