---
import Button from "../components/Button.astro";
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
import InfoCard from "../components/InfoCard.astro";
import LinkText from "../components/LinkText.astro";
---

<Layout title="Join SEIU 1107">
    <div class="flex flex-col max-w-screen-xl px-3 m-auto">
        <HeadingTitle text="Join SEIU Local 1107 Today!" />
        <div class="text-center">
            <p class="py-1.5">
                <b>We're stronger together -</b> better contracts and powerful
                voice on the job is directly connected to our membership
                strength.
            </p>
            <p class="py-1.5">
                <b>Only members have a say and a vote -</b> to ratify collective
                bargaining agreements, in union and worksite elections.
            </p>
            <p class="py-1.5">
                <b
                    >Members have access to exclusive benefits, including
                    discounted services, scholarships and college programs.</b
                >
            </p>
        </div>
        <div class="bg-purple-primary p-1 m-auto max-w-5xl rounded-lg">
            <div class="bg-purple-200 p-4 max-w-5xl rounded-lg">
                <p class="text-xl">
                    Click on your workplace below or call us right now at
                    702-386-8849 to get more information on how you can become a
                    member of SEIU Local 1107.
                </p>
                <p
                    class="m-auto font-Trebuchet font-bold text-black py-2 text-3xl"
                >
                    Public Sector
                </p>
                <ul class="list-disc pl-3 text-xl">
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
                        >
                            Clark County
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
                        >
                            Las Vegas Convention & Visitors Authority
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
                        >
                            Regional Transportation Commission of Southern
                            Nevada
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/NPcgC4sIuUyj-lXgaAYfDQ2"
                        >
                            Southern Nevada Health District
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
                        >
                            Southern Nevada Regional Housing Authority
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/aHphx94tUUiP3g4-mSLIwg2"
                        >
                            University Medical Center
                        </LinkText>
                    </li>
                </ul>
                <p
                    class="m-auto font-Trebuchet font-bold text-black py-2 text-3xl"
                >
                    Healthcare
                </p>
                <ul class="list-disc pl-3 text-xl">
                    <li>
                        <LinkText
                            href="https://act.seiu.org/a/membership-application-3-1"
                        >
                            Desert Springs Hospital
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/WcM_86kfMkC5ntFBFwwrhQ2"
                        >
                            Dignity Health/St. Rose Dominican Hospitals - De
                            Lima Campus
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/WcM_86kfMkC5ntFBFwwrhQ2"
                        >
                            Dignity Health/St. Rose Dominican Hospitals - San
                            Martin Campus
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/WcM_86kfMkC5ntFBFwwrhQ2"
                        >
                            Dignity Health/St. Rose Dominican Hospitals - Siena
                            Campus
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
                        >
                            HCA Mountain View Hospital
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
                        >
                            HCA Southern Hills
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/onlineactions/KvGLQqa-D0GMiYvWpNKxEA2"
                        >
                            HCA Sunrise Hospital
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/eedGzImOGkOGEYo0kzU6PA2"
                        >
                            Northeastern Nevada Regional Hospital
                        </LinkText>
                    </li>
                    <li>
                        <LinkText
                            href="https://act.seiu.org/UzP8aun1lkqMsnMNdfUTpw2"
                        >
                            Renown Regional Medical Center
                        </LinkText>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</Layout>
