---
import Layout from "../layouts/Layout.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";

import LinkText from "../components/LinkText.astro";
import CollageImage from "../components/CollageImage.astro";

import imgBigRoom from "../images/strength_training/BigRoom.jpg";

const pictureStyle =
  "max-w-[90vw] sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl shadow-black shadow-sm rounded-md m-auto";
---

<Layout title="SEIU 1107 Together We Rise!">
  <HeadingTitle text="Together We Rise! Membership Trainings" />
  <div class="bg-supernova-500 p-2">
    <p
      class="font-Trebuchet font-bold text-center text-honey-flower-800 text-4xl"
    >
      STEWARDS! Sign Up for Stewards Training at the bottom of the page!
    </p>
  </div>
  <div class="flex flex-col m-auto max-w-screen-lg">
    <div class="my-5 mx-auto">
      <CollageImage src={imgBigRoom}>
        <p class="py-2 text-black text-xl font-bold text-left mx-2">
          The time to get involved is <i>NOW!</i>
        </p>
        <p class="text-md py-2">
          Join SEIU Local 1107 for a day of strategy and union power!
        </p>
        <p class="text-md py-2">
          We're coming together to share best practices for building a powerful
          labor movement and keeping our union strong.
        </p>
        <p class="text-md py-2">
          In order to keep our union strong - so that we can win better
          contracts, make breakthroughs in organizing, and build a more just and
          equitable society - we have to focus on improving our member strength
          like our very existence depends on it (because it does!).
        </p>
      </CollageImage>
    </div>
    <div class="flex flex-col">
      <div
        class="m-auto bg-white rounded-md p-5 shadow-sm shadow-black flex flex-col max-w-[90vw] md:max-w-screen-md lg:max-w-screen-lg my-2.5"
      >
        <h2
          class="text-3xl text-honey-flower-800 font-Trebuchet font-bold text-center py-1.5"
        >
          Member Strength Trainings
        </h2>
        <p class="py-2 text-black text-2xl font-bold text-center">
          <i>Sign up via Mobilize below.</i>
        </p>
        <div>
          <div class="text-black text-bold text-md md:text-lg text-left">
            <i><b>Weekend Trainings</b> are Saturdays from 10am - 2pm PST.</i>
            <br />
            <i
              ><b>Weekday Trainings</b> are split into two days (Tuesday and Wednesdays
              from 6-8pm) and you are required to attend <b>both.</b></i
            >
            <div class="bg-slate-500 h-0.5 w-full my-2.5"></div>
            <p class="py-2">
              Session #1: <b>The Structured Conversation and the Story of "I"</b
              >
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746793/"
                target="_blank">Saturday, January 25th</LinkText
              >
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748688/"
                target="_blank">Tuesday & Wednesday, January 28th-29th</LinkText
              >
            </p>
            <p class="py-2">
              Session #2: <b>Accessing Your Workplace</b>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746794/"
                target="_blank">Saturday, February 22nd</LinkText
              >
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748689/"
                target="_blank"
                >Tuesday & Wednesday, February 25th-26th</LinkText
              >
            </p>
            <p class="py-2">
              Session #3: <b>AAR "Affirm, Answer, Redirect"</b>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748690/"
                target="_blank">Tuesday & Wednesday, March 18th-19th</LinkText
              >
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746795/"
                target="_blank">Saturday, March 29th</LinkText
              >
            </p>
            <p class="py-2">
              Session #4: <b>Work Site Issues, Conversations, Mobilization</b>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748691/"
                target="_blank"
                >Tuesday & Wednesday, April 15th-16th
              </LinkText>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746796/"
                target="_blank"
                >Saturday, April 26th
              </LinkText>
            </p>
            <p class="py-2">
              Session #5: <b>Recruiting/Developing your Team of Coworkers</b>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748693/"
                target="_blank"
                >Tuesday & Wednesday, May 20th-21st
              </LinkText>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746797/"
                target="_blank"
                >Saturday, May 31st
              </LinkText>
            </p>
            <p class="py-2">
              Session #6: <b>Leader of Leaders</b>
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/748695/"
                target="_blank">Tuesday & Wednesday, June 17th-18th</LinkText
              >
              <br />
              <LinkText
                href="https://www.mobilize.us/seiunevada/event/746798/"
                target="_blank">Saturday, June 28th</LinkText
              >
            </p>
          </div>
        </div>
      </div>
      <div
        class="m-auto bg-white rounded-md p-5 md:p-1.5 shadow-sm shadow-black flex flex-col max-w-[90vw] md:max-w-screen-md lg:max-w-screen-lg my-2.5"
        id="STEWARDS"
      >
        <h2
          class="text-3xl text-honey-flower-800 font-Trebuchet font-bold text-center py-1.5"
        >
          Steward Trainings
        </h2>
        <p class="py-2 text-black text-2xl font-bold text-center">
          <i>Sign up via Mobilize below.</i>
        </p>
        <div class="flex flex-col md:grid md:grid-cols-3">
          <!-- Beginner -->
          <div
            class="rounded-md bg-honey-flower-200 p-4 md:p-2 my-2 md:mx-1 flex flex-col"
          >
            <p class="text-black font-bold text-lg">Beginner Training</p>
            <ul class="list-disc pl-4 text-md">
              <li>Introduction to SEIU 1107</li>
              <li>Role of a Steward</li>
              <li>Legal Rights of Stewards</li>
              <li>Weingarten / Investigatory Meetings</li>
              <li>Practice an Investigatory Meeting</li>
            </ul>
            <p class="text-black font-bold mt-2">Available Dates:</p>
            <ul class="list-disc pl-4 text-md">
              <li>Friday, Feb 21, 9:30am - 12:00pm</li>
              <li>Thursday, Apr 17, 5:30pm - 8:00pm</li>
              <li>Friday, Jun 20, 9:30am - 12:00pm</li>
            </ul>
            <span class="font-bold mt-auto text-xl"
              ><LinkText
                href="https://www.mobilize.us/seiunevada/event/749826/"
                target="_blank">Sign Up on Mobilize</LinkText
              ></span
            >
          </div>
          <!-- Intermediate -->
          <div
            class="rounded-md bg-supernova-200 p-4 md:p-2 my-2 md:mx-1 flex flex-col"
          >
            <p class="text-black font-bold text-lg">Intermediate Training</p>
            <ul class="list-disc pl-4 text-md">
              <li>Beginning Grievance Writing</li>
              <li>7 Steps of Just Cause Disparate Treatment</li>
              <li>Practice Writing and Presenting a Grievance</li>
            </ul>
            <p class="text-black font-bold mt-2">Available Dates:</p>
            <ul class="list-disc pl-4 text-md">
              <li>Wednesday, Mar 5, 1:00pm - 3:30pm</li>
              <li>Wednesday, Jun 4, 5:30pm - 8:00pm</li>
            </ul>
            <span class="font-bold mt-auto text-xl"
              ><LinkText
                href="https://www.mobilize.us/seiunevada/event/749829/"
                target="_blank">Sign Up on Mobilize</LinkText
              ></span
            >
          </div>
          <!-- Advanced -->
          <div
            class="rounded-md bg-honey-flower-200 p-4 md:p-2 my-2 md:mx-1 flex flex-col"
          >
            <p class="text-black font-bold text-lg">Advanced Training</p>
            <ul class="list-disc pl-4 text-md">
              <li>Arbitration - How It Works</li>
              <li>Advocacy Skills</li>
              <li>Contract Interpretation</li>
              <li>Preparing for Step 2 Meetings and Arbitration Council</li>
            </ul>
            <p class="text-black font-bold mt-2">Available Dates:</p>
            <ul class="list-disc pl-4 text-md">
              <li>Thursday, Mar 27, 8:30am - 12:30pm</li>
              <li>Wednesday, Jul 23, 1:00pm - 5:00pm</li>
            </ul>
            <span class="font-bold mt-auto text-xl"
              ><LinkText
                href="https://www.mobilize.us/seiunevada/event/749828/"
                target="_blank">Sign Up on Mobilize</LinkText
              ></span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
