---
import HeadingTitle from "../components/HeadingTitle.astro";
import CollageImg from "../components/CollageImage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Members in Action!">
    <HeadingTitle text="Members in Action!" />

    <CollageImg src="/src/images/members_in_action/img-1.jpg" pos="left">
        <p class="py-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            molestie mattis efficitur. Nullam efficitur, risus a ornare tempor,
            purus orci semper erat, eu auctor velit sapien eu elit. Integer
            velit lacus, tincidunt eget ante at, tincidunt dapibus tellus.
            Suspendisse posuere pharetra neque non luctus. Maecenas sed lectus
            mauris. Sed volutpat vehicula augue ac cursus. Fusce quis enim in
            purus dapibus viverra. Quisque mollis nisi non tortor euismod
            lobortis. Pellentesque sit amet ipsum suscipit, euismod eros at,
            bibendum purus. Praesent auctor dolor nisi, ut pretium enim sodales
            non.
        </p>
    </CollageImg>

    <CollageImg src="/src/images/members_in_action/img-2.jpg" pos="right">
        <p class="py-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            molestie mattis efficitur. Nullam efficitur, risus a ornare tempor,
            purus orci semper erat, eu auctor velit sapien eu elit. Integer
            velit lacus, tincidunt eget ante at, tincidunt dapibus tellus.
            Suspendisse posuere pharetra neque non luctus. Maecenas sed lectus
            mauris. Sed volutpat vehicula augue ac cursus. Fusce quis enim in
            purus dapibus viverra. Quisque mollis nisi non tortor euismod
            lobortis. Pellentesque sit amet ipsum suscipit, euismod eros at,
            bibendum purus. Praesent auctor dolor nisi, ut pretium enim sodales
            non.
        </p>
    </CollageImg>

    <CollageImg src="/src/images/members_in_action/img-3.jpg" pos="left">
        <p class="py-1">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
            molestie mattis efficitur. Nullam efficitur, risus a ornare tempor,
            purus orci semper erat, eu auctor velit sapien eu elit. Integer
            velit lacus, tincidunt eget ante at, tincidunt dapibus tellus.
            Suspendisse posuere pharetra neque non luctus. Maecenas sed lectus
            mauris. Sed volutpat vehicula augue ac cursus. Fusce quis enim in
            purus dapibus viverra. Quisque mollis nisi non tortor euismod
            lobortis. Pellentesque sit amet ipsum suscipit, euismod eros at,
            bibendum purus. Praesent auctor dolor nisi, ut pretium enim sodales
            non.
        </p>
    </CollageImg>
</Layout>
