---
import HeadingTitle from "../components/HeadingTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Member Benefits SEIU 1107" centered="true">
    <HeadingTitle text="What Are My Benefits?" />
    <p class="font-Trebuchet font-bold text-black py-5 text-3xl">
        SEIU Member Benefits
    </p>
    <p class="font-Trebuchet font-bold text-black py-5 text-3xl">
        The SEIU 1107 Scholarship
    </p>
</Layout>
