---
import Layout from "../layouts/Layout.astro";
import ProfileGrid from "../components/ProfileGrid.astro";
import HeadingTitle from "../components/HeadingTitle.svelte";

import type { Profile } from "../Profile";

import Fabiola from "../images/staff/Fab.jpg";
import Patrick from "../images/staff/Patrick.jpg";
import Brenda from "../images/staff/Brenda.jpg";
import Jocelyn from "../images/staff/Jocelyn.jpg";
import Chris from "../images/staff/Chris.jpg";
import GloriaM from "../images/staff/GloriaMadrid.jpg";
import Marcus from "../images/staff/Marcus.jpg";
import Rosy from "../images/staff/Rosy.jpg";
import Salah from "../images/staff/Salah.jpg";
import Cody from "../images/staff/Cody.jpg";
import JasonK from "../images/staff/JasonKlumb.jpg";
import Nilda from "../images/staff/Nilda.jpg";
import Gersam from "../images/staff/Gersam.jpg";
import Patti from "../images/staff/Patti.jpg";
import Nathan from "../images/staff/Nathan.jpg";
import Carla from "../images/staff/Carla.png";
import TonyGreen from "../images/staff/Tony Green.png";
import TashiaHairston from "../images/staff/Tashia.png";
import ReginaToney from "../images/staff/Regina.png";

import LinkText from "../components/LinkText.astro";
import Button from "../components/Button.svelte";

const profileData: Profile[] = [
  {
    name: "Jason Klumb",
    profileImg: JasonK,
    data: [
      ["Title", "Chief of Staff"],
      ["Cell", "702-533-6077"],
    ],
  },
  {
    name: "Fabiola Morales",
    profileImg: Fabiola,
    data: [
      ["Title", "Deputy Chief of Staff"],
      ["Cell", "702-378-7768"],
    ],
  },
  {
    name: "Jocelyn White",
    profileImg: Jocelyn,
    data: [
      ["Title", "Contract Representative"],
      ["Cell", "702-296-6416"],
    ],
  },
  {
    name: "Brenda Marzan",
    profileImg: Brenda,
    data: [
      ["Title", "Contract Representative"],
      ["Cell", "702-296-6470"],
    ],
  },
  {
    name: "Tony Green",
    profileImg: TonyGreen,
    data: [
      ["Title", "Contract Representative"],
      ["Cell", "702-378-0030"],
    ],
  },
  {
    name: "Patrick O'Connor",
    profileImg: Patrick,
    data: [
      ["Title", "Organizing Coordinator"],
      ["Assignment", "Southern Hills"],
      ["Cell", "702-934-4961"],
    ],
  },
  {
    name: "Carla Long",
    profileImg: Carla,
    data: [
      ["Title", "Organizer"],
      ["Cell", "(702) 296-6409"],
    ],
  },
  {
    name: "Danny Santiago",
    data: [
      ["Title", "Organizer"],
      ["Cell", "(702) 348-2081"],
    ],
  },
  {
    name: "Jorge Salas",
    data: [
      ["Title", "Organizer"],
      ["Cell", "702-849-8876"],
    ],
  },
  {
    name: "Marcus Osuigwe",
    profileImg: Marcus,
    data: [
      ["Title", "Organizer"],
      ["Cell", "702-849-2308"],
    ],
  },
  {
    name: "Rosy Salinas",
    profileImg: Rosy,
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Renown, NNRH, CC-GU, SNHD, SNRHA"],
      ["Cell", "702-274-3171"],
    ],
  },
  {
    name: "Salah El-Amin",
    profileImg: Salah,
    data: [
      ["Title", "Organizer"],
      ["Assignment", "DOA & CC General Unit"],
      ["Cell", "702-793-7057"],
    ],
  },
  {
    name: "Gloria Madrid",
    profileImg: GloriaM,
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "702-506-3082"],
    ],
  },
  {
    name: "India Cooper",
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "725-293-7466"],
    ],
  },
  {
    name: "Jacobi Praker",
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "702-491-2642"],
    ],
  },
  {
    name: "Safiyyah AbdulRahim",
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "702 591-1277"],
    ],
  },
  {
    name: "Shanieka Cooper",
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "702-661-6559"],
    ],
  },
  {
    name: "Tina Smith",
    data: [
      ["Title", "Organizer"],
      ["Assignment", "Home Care"],
      ["Cell", "702-906-3950"],
    ],
  },
  {
    name: "Felipe Danglapin",
    data: [
      ["Title", "Chief Operating Officer"],
      ["Cell", "702-278-5509"],
    ],
  },
  {
    name: "Tashia Hairston",
    profileImg: TashiaHairston,
    data: [
      ["Title", "Finance & HR Assistant"],
      ["Cell", "702-374-6406"],
    ],
  },
  {
    name: "Sherae Long",
    data: [
      ["Title", "Admin Assistant"],
      ["Cell", "702-491-2711"],
    ],
  },
  {
    name: "Patti Curry",
    profileImg: Patti,
    data: [
      ["Title", "Database and Finance Coordinator"],
      ["Cell", "775-870-0604"],
    ],
  },
  {
    name: "Nilda Mason",
    profileImg: Nilda,
    data: [
      ["Title", "Executive Assistant"],
      ["Cell", "702-715-8592"],
    ],
  },
  {
    name: "Regina Toney",
    profileImg: ReginaToney,
    data: [
      ["Title", "Communications Director"],
      ["Cell", "702-348-0496"],
    ],
  },
  {
    name: "Gersam Lopez",
    profileImg: Gersam,
    data: [
      ["Title", "IT Support Specialist"],
      ["Cell", "702-849-2831"],
    ],
  },
  {
    name: "Nathan Mactal",
    profileImg: Nathan,
    data: [
      ["Title", "Data & Technology Specialist"],
      ["Cell", "702-757-7191"],
    ],
  },
  {
    name: "Cody Hoskins",
    profileImg: Cody,
    data: [
      ["Title", "Political Director"],
      ["Cell", "702-296-6414"],
    ],
  },
  {
    name: "Christopher Hilton",
    profileImg: Chris,
    data: [
      ["Title", "Political Organizer"],
      ["Cell", "702-690-8046"],
    ],
  },
  {
    name: "Kathleen Flores",
    data: [
      ["Title", "Civic Engagement"],
      ["Cell", "702-695-0454"],
    ],
  },
  {
    name: "Pearson Woods",
    data: [
      ["Title", "Senior Advisor to the Executive Director"],
      ["Cell", "702-339-4628"],
    ],
  },
];
---

<Layout title="SEIU Local 1107 Staff" centered="true">
  <HeadingTitle text="SEIU Local 1107 Staff" />
  <div class="py-2.5 m-auto max-w-7xl">
    <p class="text-center text-lg">
      SEIU Local 1107 employs experts in organizing, contracts, bargaining,
      worker representation, and other crucial areas. Employees are dedicated to
      the mission of the union, solving problems on the job, and our other needs
      as members. Not sure who to contact?
      <LinkText href="/contact_us">
        Reach out to the union hall directly!
      </LinkText>
    </p>
  </div>
  <div class="max-w-lg flex m-auto justify-center">
    <Button href="/careers" text="View Careers" />
  </div>
  <ProfileGrid data={profileData} />
</Layout>
