---
import Layout from "../layouts/Layout.astro";
import ProfileGrid from "../components/ProfileGrid.astro";
import HeadingTitle from "../components/HeadingTitle.astro";

import type { Profile } from "../Profile";
const profileData: Profile[] = [
    {
        name: "Sam Shaw",
        profileImg: "/images/staff/Sam.jpg",
        Title: "Chief of Staff",
        Cell: "725-221-1205",
        Email: "sshaw@seiunv.org",
    },
    {
        name: "Fabiola Morales",
        profileImg: "/images/staff/Fab.jpg",
        Title: "Organizing Director",
        Cell: "702-378-7768",
        Email: "fmorales@seiunv.org",
    },
    {
        name: "Felipe Danglapin",
        Title: "Director, Finance & Administration",
        Cell: "702-278-5509",
        Email: "fdanglapin@seiunv.org",
    },
    {
        name: "Patrick O'Connor",
        profileImg: "/images/staff/Patrick.jpg",
        Title: "Organizing Coordinator",
        Assignment: "Southern Hills",
        Cell: "702-934-4961",
        Email: "poconnor@seiunv.org",
    },
    {
        name: "Brenda Marzan",
        profileImg: "/images/staff/Brenda.jpg",
        Title: "Contract Representative",
        Cell: "702-296-6470",
        Email: "bmarzan@seiunv.org",
    },
    {
        name: "Jocelyn White",
        profileImg: "/images/staff/Jocelyn.jpg",
        Title: "Contract Representative",
        Cell: "702-296-6416",
        Email: "jwhite@seiunv.org",
    },
    {
        name: "Christopher Hilton",
        profileImg: "/images/staff/Chris.jpg",
        Title: "Organizer",
        Assignment: "Mountain View Hospital",
        Cell: "702-690-8046",
        Email: "chilton@seiunv.org",
    },
    {
        name: "Gloria Madrid",
        profileImg: "/images/staff/GloriaMadrid.jpg",
        Title: "Organizer",
        Assignment: "Home Care",
        Cell: "702-506-3082",
        Email: "gmadrid@seiunv.org",
    },
    {
        name: "Marcus Osuigwe",
        profileImg: "/images/staff/Marcus.jpg",
        Title: "Organizer",
        Cell: "702-849-2308",
        Email: "mosuigwe@seiunv.org",
    },
    {
        name: "Rosy Salinas",
        profileImg: "/images/staff/Rosy.jpg",
        Title: "Organizer",
        Assignment: "Renown, NNRH, CC-GU, SNHD, SNRHA",
        Cell: "702-274-3171",
        Email: "rsalinas@seiunv.org",
    },
    {
        name: "Salah El-Amin",
        profileImg: "/images/staff/Salah.jpg",
        Title: "Organizer",
        Assignment: "DOA & CC General Unit",
        Cell: "702-793-7057",
        Email: "selamin@seiunv.org",
    },
    {
        name: "Melissa Pinnick",
        Title: "IU Organizer",
        Assignment: "Home Care",
        Cell: "202-823-1737",
        Email: "melissa.pinnick@seiu.org",
    },
    {
        name: "Carlo Enterline",
        profileImg: "/images/staff/Carlo.jpg",
        Title: "Organizer-In-Training",
        Assignment: "LVCVA, DFS, WRD, CC-GU,RTC",
        Cell: "702-344-3774",
        Email: "centerline@seiunv.org",
    },
    {
        name: "Krystal Velez",
        profileImg: "/images/staff/Krystal.jpg",
        Title: "Organizer-In-Training",
        Cell: "702-935-1541",
        Email: "kvelez@seiunv.org",
    },
    {
        name: "Quentinn Macklin",
        profileImg: "/images/staff/Quentinn.jpg",
        Title: "Organizer-In-Training",
        Cell: "702-296-6409",
        Email: "qmacklin@seiunv.org",
    },
    {
        name: "Cody Hoskins",
        profileImg: "/images/staff/Cody.jpg",
        Title: "Political Director",
        Cell: "702-296-6414",
        Email: "choskins@seiunv.org",
    },
    {
        name: "Jason Klumb",
        profileImg: "/images/staff/JasonKlumb.jpg",
        Title: "Representation Director",
        Cell: "702-533-6077",
        Email: "jklumb@seiunv.org",
    },
    {
        name: "Jennifer Valdecantos",
        Title: "Representation Administrative Assistant",
        Cell: "702-378-0030",
        Email: "jvaldecantos@seiunv.org",
    },
    {
        name: "Nilda Mason",
        profileImg: "/images/staff/Nilda.jpg",
        Title: "Executive Assistant",
        Cell: "702-715-8592",
        Email: "nmason@seiunv.org",
    },
    {
        name: "Mimi Wahdat",
        profileImg: "/images/staff/Mimi.jpg",
        Title: "Admin Assistant",
        Cell: "702-934-1541",
        Email: "mwahdat@seiunv.org",
    },
    {
        name: "Gersam Lopez",
        profileImg: "/images/staff/Gersam.jpg",
        Title: "IT Support Specialist",
        Cell: "702-849-2831",
        Email: "glopez@seiunv.org",
    },
    {
        name: "Patti Curry",
        profileImg: "/images/staff/Patti.jpg",
        Title: "Database and Finance Coordinator",
        Cell: "775-870-0604",
        Email: "pcurry@seiunv.org",
    },
    {
        name: "Kathleen Flores",
        Title: "Civic Engagement",
        Cell: "702-695-0454",
        Email: "kflores@seiunv.org",
    },
    {
        name: "Alicia Baker",
        Assignment: "Education Fund",
        Cell: "(323) 363-4632",
        Email: "abaker@theedfund.org",
    },
    {
        name: "Nathan Mactal",
        profileImg: "/images/staff/Nathan.jpg",
        Title: "Data & Technology Specialist",
        Cell: "702-757-7191",
        Email: "nmactal@seiunv.org",
    },
];
---

<Layout title="SEIU Local 1107 Staff">
    <HeadingTitle text="SEIU Local 1107 Staff" />
    <div class="py-2.5 m-auto max-w-7xl">
        <p class="text-center font-Roboto text-black text-xl">
            This is where we should put the Staff statement language. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Sed at ante a
            felis consectetur sollicitudin. Quisque tincidunt et magna luctus
            feugiat. Ut ultricies condimentum nunc eu volutpat. Fusce nec odio
            tincidunt, posuere nisl sed, auctor ipsum. Maecenas nec posuere
            justo. Cras non lorem ante. Suspendisse tristique maximus tellus, in
            maximus est vulputate in. Cras sodales varius cursus.
        </p>
    </div>
    <ProfileGrid data={profileData} />
</Layout>
