---
import Layout from '../layouts/Layout.astro'
import ShopCard from '../components/Stewards/ShopCard.astro'

import '../styles/global.css'

// Images
import CCBack from '../../public/images/shop_imgs/Clark-County-Button.png'
import CCFront from '../../public/images/shop_imgs/Clark-County-Solid-Button.png'

import LVCVABack from '../../public/images/shop_imgs/LVCVA-Button.png'
import LVCVAFront from '../../public/images/shop_imgs/LVCVA-Solid-Button.png'

import RenownBack from '../../public/images/shop_imgs/Renown-Button.png'
import RenownFront from '../../public/images/shop_imgs/Renown-Solid-Button.png'

import RTCBack from '../../public/images/shop_imgs/RTC-Button.png'
import RTCFront from '../../public/images/shop_imgs/RTC-Solid-Button.png'

import SNHDBack from '../../public/images/shop_imgs/SNHD-Button.png'
import SNHDFront from '../../public/images/shop_imgs/SNHD-Solid-Button.png'

import SNRHABack from '../../public/images/shop_imgs/SNRHA-Button.png'
import SNRHAFront from '../../public/images/shop_imgs/SNRHA-Solid-Button.png'

import StRoseBack from '../../public/images/shop_imgs/St-Rose-Button.png'
import StRoseFront from '../../public/images/shop_imgs/St-Rose-Big-Button.png'

import SunriseBack from '../../public/images/shop_imgs/Sunrise-Button-1.png'
import SunriseFront from '../../public/images/shop_imgs/Sunrise-Solid-Button.png'

import UMCBack from '../../public/images/shop_imgs/UMC-Button.png'
import UMCFront from '../../public/images/shop_imgs/UMC-Solid-Button.png'


const shopCardData = [
    {backImg: CCBack, frontImg: CCFront, urlDest: "/stewards/Clark County"}, // Clark County
    {backImg: LVCVABack, frontImg: LVCVAFront, urlDest: "/"}, // LVCVA
    {backImg: RenownBack, frontImg: RenownFront, urlDest: "/"}, // Renown
    {backImg: RTCBack, frontImg: RTCFront, urlDest: "/stewards/RTC"}, // RTC
    {backImg: SNHDBack, frontImg: SNHDFront, urlDest: "/"},
    {backImg: SNRHABack, frontImg: SNRHAFront, urlDest: "/stewards/SNRHA"},
    {backImg: StRoseBack, frontImg: StRoseFront, urlDest: "/"},
    {backImg: SunriseBack, frontImg: SunriseFront, urlDest: "/stewards/Sunrise"},
    {backImg: UMCBack, frontImg: UMCFront, urlDest: "/stewards/UMC"}
]
---
<Layout title = "SEIU 1107 Stewards">
    <h1 class="text-5xl font-EngraversMT font-bold text-center py-5">My Stewards</h1>
    <p style="text-align: center; font-size: 20px"><i><b>Select your shop</b></i></p>
    <section class="shopGrid">
        <div class="container">
            {shopCardData.map(shop => (
                    <ShopCard backImg={shop.backImg} frontImg={shop.frontImg} urlDest={shop.urlDest}/>
            ))}
        </div>
    </section>
</Layout>


<style>

    .shopGrid .container {
        vertical-align: center;
        display: grid;
        grid-template-columns: repeat(3,3fr);
        margin: auto;
    }

    @media (max-width: 767px){
        .shopGrid {
            display: flex;
            margin: auto;
        }
        .shopGrid .container {
            grid-template-columns: 1fr;
        }
    }
</style>
