---
import Layout from '../layouts/Layout.astro'
---

<Layout>
    <link rel='preload' href='https://static.everyaction.com/ea-actiontag/at.js' as='script' crossorigin='anonymous'>
    <link rel='preload' href='https://static.everyaction.com/ea-actiontag/at.min.css' as='style'>
    <script type='text/javascript' src='https://static.everyaction.com/ea-actiontag/at.js' crossorigin='anonymous'></script>
    <div class="ngp-form"
         data-form-url="https://secure.everyaction.com/v1/Forms/73-S88C5D0Or8bjXalYJgw2"
         data-fastaction-endpoint="https://fastaction.ngpvan.com"
         data-inline-errors="true"
         data-fastaction-nologin="true"
         data-databag-endpoint="https://profile.ngpvan.com"
         data-databag="everybody"
         data-mobile-autofocus="false">
    </div>
</Layout>