---
import { Image } from "astro:assets";

import NavBar from "./NavBar/NavBar.svelte";
import Menu from "./HamburgerMenu/Menu.svelte";

import SocialMediaButtons from "./SocialMediaButtons.astro";
---

<!-- Non-Mobile (Desktop, larger screens) -->
<header class="h-20 bg-honey-flower-900 hidden lg:block">
    <div class="h-full flex items-center justify-between py-5">
        <div class="flex flex-row justify-center align-middle">
            <div class="my-7">
                <SocialMediaButtons />
            </div>
        </div>
        <!-- Navbar here -->
        <NavBar client:visible />
    </div>
</header>

<!-- Mobile (smaller screens) -->
<header class="h-32 bg-honey-flower-900 flex flex-row m-auto lg:hidden">
    <div class="absolute w-screen">
        
    </div>
    <div class="relative top-5">
        <Menu client:visible />
    </div>
</header>
