---
import logo from "/images/seiu-WEBSITE-LOGO-1t.png";
import Dropdown from "../Header/Dropdown.astro";

/* About Us Dropdown */
const dropdownAboutUs = [
    {
        pageName: "Who We Are",
        href: "/about_us",
    },
    {
        pageName: "The Union Difference",
        href: "/",
    },
    {
        pageName: "Executive Board",
        href: "/executive_board",
    },
    {
        pageName: "Staff",
        href: "/staff_page",
    },
    {
        pageName: "Contact Us",
        href: "/",
    },
    {
        pageName: "Careers",
        href: "/",
    },
];

/* My Union */
const myUnion = [
    {
        pageName: "My Workplace",
        href: "/",
    },
    {
        pageName: "Stewards",
        href: "/stewards",
    },
    {
        pageName: "Member Benefits",
        href: "/",
    },
    {
        pageName: "Constituion & Bylaws",
        href: "/",
    },
    {
        pageName: "Committees",
        href: "/",
    },
    {
        pageName: "Caucuses",
        href: "/",
    },
];

const actionCenter = [
    {
        pageName: "Get Involved",
        href: "/",
    },
    {
        pageName: "Events Calendar",
        href: "/events_calendar",
    },
    {
        pageName: "Know Your Rights",
        href: "/",
    },
    {
        pageName: "Power of Politics",
        href: "/",
    },
    {
        pageName: "Communities United",
        href: "/",
    },
    {
        pageName: "Home Care Workers United",
        href: "/",
    },
];
---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" />
            </a>
        </div>
        <nav>
            <ul class="font-Trebuchet">
                <li>
                    <Dropdown
                        title="About Us"
                        content={dropdownAboutUs}
                        titleHref="/about_us"
                    />
                </li>
                <li>
                    <Dropdown title="My Union" content={myUnion} />
                </li>
                <li>
                    <Dropdown title="Action Center" content={actionCenter} />
                </li>
                <li>
                    <Dropdown title="News" titleHref="/news_updates" />
                </li>
                <li>
                    <Dropdown title="Join Now!" titleHref="/" />
                </li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 70px;
        background: var(--color-primary);
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 35px;
        vertical-align: middle;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 5px;
    }

    .header nav ul li a {
        color: #fff;
    }
</style>
