---
import logo from "/images/seiu-WEBSITE-LOGO-1t.png";
import Dropdown from "../Header/Dropdown.astro";
import Hamburger from "../Header/Hamburger.astro";

/* About Us Dropdown */
const dropdownAboutUs = [
    {
        pageName: "The Union Difference",
        href: "/",
    },
    {
        pageName: "Executive Board",
        href: "/executive_board",
    },
    {
        pageName: "Staff",
        href: "/staff_page",
    },
    {
        pageName: "Contact Us",
        href: "/",
    },
    {
        pageName: "Careers",
        href: "/",
    },
];

/* My Union */
const myUnion = [
    {
        pageName: "My Stewards",
        href: "/stewards",
    },
    {
        pageName: "My Member Benefits",
        href: "/",
    },
    {
        pageName: "Constituion & Bylaws",
        href: "/",
    },
    {
        pageName: "Committees",
        href: "/",
    },
    {
        pageName: "Caucuses",
        href: "/",
    },
];

const getInvolved = [
    {
        pageName: "Events Calendar",
        href: "/events_calendar",
    },
    {
        pageName: "Know Your Rights",
        href: "/",
    },
    {
        pageName: "Power of Politics",
        href: "/",
    },
    {
        pageName: "Communities United",
        href: "/",
    },
    {
        pageName: "Home Care Workers United",
        href: "/",
    },
];

const all_dropdowns = [
    {
        title: "About Us",
        titleHref: "/about_us",
        content: dropdownAboutUs,
    },
    {
        title: "My Union",
        titleHref: "/",
        content: myUnion,
    },
    {
        title: "Get Involved",
        titleHref: "/",
        content: getInvolved,
    },
    {
        title: "News",
        titleHref: "/news_updates",
    },
    {
        title: "Join Now!",
        titleHref: "/",
    },
];
---

<header class="header">
    <div class="container">
        <a href="/">
            <img src={logo} alt="" />
        </a>
        <nav class="hidden md:block">
            <ul class="font-Trebuchet">
                {
                    all_dropdowns.map((dd) => (
                        <li>
                            <Dropdown
                                title={dd.title}
                                content={dd.content ?? null}
                                titleHref={dd.titleHref ?? null}
                            />
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
    <div class="block md:hidden">
        <Hamburger dropdowns={all_dropdowns} />
    </div>
</header>

<style>
    .header {
        height: 70px;
        background: var(--color-primary);
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 35px;
        vertical-align: middle;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 5px;
    }

    .header nav ul li a {
        color: #fff;
    }
</style>
