---
import logo from "/images/seiu-WEBSITE-LOGO-1t.png";
import Dropdown from "../Header/Dropdown.astro";
import Hamburger from "../Header/Hamburger.astro";

/* About Us Dropdown */
const dropdownAboutUs = [
    {
        pageName: "The Union Difference",
        href: "/",
    },
    {
        pageName: "Executive Board",
        href: "/executive_board",
    },
    {
        pageName: "Staff",
        href: "/staff_page",
    },
    {
        pageName: "Contact Us",
        href: "/",
    },
    {
        pageName: "Careers",
        href: "/",
    },
];

/* My Union */
const myUnion = [
    {
        pageName: "My Stewards",
        href: "/stewards",
    },
    {
        pageName: "My Member Benefits",
        href: "/",
    },
    {
        pageName: "Constituion & Bylaws",
        href: "/",
    },
    {
        pageName: "Committees",
        href: "/",
    },
    {
        pageName: "Caucuses",
        href: "/",
    },
];

const getInvolved = [
    {
        pageName: "Events Calendar",
        href: "/events_calendar",
    },
    {
        pageName: "Know Your Rights",
        href: "/",
    },
    {
        pageName: "Power of Politics",
        href: "/",
    },
    {
        pageName: "Communities United",
        href: "/",
    },
    {
        pageName: "Home Care Workers United",
        href: "/",
    },
];

const all_dropdowns = [
    {
        title: "About Us",
        titleHref: "/about_us",
        content: dropdownAboutUs,
    },
    {
        title: "My Union",
        titleHref: "/",
        content: myUnion,
    },
    {
        title: "Get Involved",
        titleHref: "/",
        content: getInvolved,
    },
    {
        title: "News",
        titleHref: "/news_updates",
    },
    {
        title: "Join Now!",
        titleHref: "/",
    },
];
---

<!-- Non-Mobile (Desktop, larger screens) -->
<header class="h-20 bg-purple-primary hidden md:block">
    <div class="h-full flex items-center justify-between py-5">
        <a href="/">
            <img class="h-9 align-middle m-5" src={logo} alt="" />
        </a>
        <nav>
            <ul class="flex flex-row m-5 font-Trebuchet">
                {
                    all_dropdowns.map((dd) => (
                        <li class="px-2">
                            <Dropdown
                                title={dd.title}
                                content={dd.content ?? null}
                                titleHref={dd.titleHref ?? null}
                            />
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>
</header>

<!-- Mobile (smaller screens) -->
<header class="h-32 bg-purple-primary block md:hidden">
    <a href="/">
        <img class="h-24 flex pt-5 flex-col m-auto" src={logo} alt="" />
    </a>
    <Hamburger dropdowns={all_dropdowns} />
</header>
