---
import { Image } from "astro:assets";
import logo from "../../images/website-logo.png";
import LanguageDropdown from "../Translation/LanguageDropdown.svelte";
import NavBar from "./NavBar/NavBar.svelte";
import Menu from "./HamburgerMenu/Menu.svelte";

import SocialMediaButtons from "./SocialMediaButtons.astro";
---

<!-- Non-Mobile (Desktop, larger screens) -->
<header class="h-20 bg-honey-flower-900 hidden lg:block z-50">
  <div class="h-full flex items-center justify-between py-5">
    <div class="flex flex-row justify-center align-middle">
      <a href="/" class="align-middle m-5"
        ><Image
          class="w-24 m-auto hover:md:scale-110 transition ease-in-out duration-200"
          src={logo}
          alt="SEIU Local 1107"
        />
      </a>
      <div class="my-7">
        <SocialMediaButtons header={true} />
      </div>
      <div class="mx-5 my-6"><LanguageDropdown client:load /></div>
    </div>
    <!-- Navbar here -->
    <NavBar client:visible />
  </div>
</header>

<!-- Mobile (smaller screens) -->
<header class="h-40 bg-honey-flower-900 flex flex-row m-auto lg:hidden z-50">
  <div class="absolute w-screen">
    <div class="flex flex-col">
      <a href="/"
        ><Image class="pt-10 w-24 m-auto" src={logo} alt="SEIU Local 1107" /></a
      >
      <div class="mx-auto mt-4"><LanguageDropdown client:load /></div>
    </div>
  </div>
  <div class="relative top-5">
    <Menu client:visible />
  </div>
</header>
