---
import Card from './Card.astro';

const benefitsData = [
    {title: 'Together, We Have a Voice',body: 'Joining a union will give you a voice in your workplace. Without representation, the employer can change wages, benefits and work conditions without listening to the workers. Forming a union will ensure that workers have the power to bargain for a fair contract and the strength to protect that contract.'},
    {title: 'Better Working Conditions',body: 'Working together, union members have the strength to win better wages, affordable health care, a secure retirement, and safer workplaces. The “union advantage” is substantial. According to the U.S. Department of Labor, union members are much more likely to have health benefits and pensions.'},
    {title: 'Unions Protect the Marginalized',body: 'For people of color and women workers, the union impact is even greater. Women workers who are union members earn nearly $9,000 a year more than their non-union counterparts. For African-American workers, the union differential is also about $9,000, and for Latino workers the yearly advantage is more than $11,000.'},
    {title: 'Protect Working Families',body: 'In addition to helping workers win better wages and benefits, unions help all workers by giving working families a stronger voice in our communities, in the political arena, and in the global economy. By joining together, we can build the strength to hold elected officials accountable, stop the “race to the bottom” by employers who cut wages and benefits in favor of bigger profits, and win improvements such as affordable, quality health care for all.'}
]
---

<section class="features">
    <div class="container">
        {benefitsData.map(feature => (
            <Card>
                <h1 class="text-purple-primary text-xl pb-1.5 font-bold font-Trebuchet">{feature.title}</h1>
                <p class="font-Roboto">{feature.body}</p>
            </Card>
        ))}
    </div>
</section>

<style>
    .features .container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 20px;
        padding: 0 20px;
        margin: 30px auto;
    }
    @media (max-width: 500px) {
        .features .container {
            grid-template-columns: 1fr;
        }
    }
</style>