---
export interface Props {
    text: string;
    href: string;
}

const {text = 'Enter Text', href = '/'} = Astro.props as Props;
---

<a href={href}
   class="
   inline-block
   rounded-md
   px-2
   py-2
   bg-purple-primary
   text-white
   uppercase
   tracking-wide
   hover:bg-purple-darker
   active:bg-purple-darkest
   focus:outline-none
   focus:ring
   focus:ring-offset-white">{text}</a>

<style>
    .button {
        display: inline-block;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        background-color: var(--color-primary);
        color: #fff;
        text-transform: uppercase;
        font-size: 0.8rem;
        letter-spacing: 1px;
        transition: all 0.3s ease;
    }

    .button:hover {
        cursor: pointer;
        background-color: var(--color-primary-darker);
    }

</style>