---
export interface Props {
    text: string;
    href: string;
    color?: string;
}

const {
    text = "Enter Text",
    href = "/",
    color = "text-white bg-purple-primary hover:bg-purple-darker active:bg-purple-darkest",
} = Astro.props as Props;

const classString =
    "inline-block rounded-md px-2 py-2 text-center uppercase tracking-wide focus:outline-none focus:ring focus:ring-offset-white".concat(
        " ".concat(color)
    );
---

<a href={href} class={classString}>{text}</a>
