---
import { Image } from "astro:assets";
export interface Props {
    src: ImageMetadata;
    alt?: string;
    horizontal?: string /* Is the image on the left or right of the slot? */;
    imageStyle?: string /* TailwindCSS to override the Image component's classes */;
}

const {
    src,
    alt = "",
    horizontal = "left",
    imageStyle = "rounded-lg lg:rounded-2xl lg:px-3 m-auto max-w-sm md:max-w-md lg:max-w-lg ".concat(
        horizontal === "left" ? "lg:float-left" : "lg:float-right"
    ),
} = Astro.props as Props;
---

<div>
    <Image src={src} alt={alt} class={imageStyle} />
    <slot />
</div>
