---
import { Image } from "astro:assets";
export interface Props {
    src: ImageMetadata;
    alt?: string;
    horizontal?: string /* Is the image on the left or right of the slot? */;
    imageStyle?: string /* TailwindCSS to override the Image component's classes */;
}

const {
    src,
    alt = "",
    horizontal = "left",
    imageStyle = "shadow-black shadow-sm rounded-md m-auto max-w-[90vw] sm:max-w-md lg:max-w-lg ".concat(
        horizontal === "left"
            ? "md:float-left md:mr-3"
            : "md:float-right md:ml-3"
    ),
} = Astro.props as Props;
---

<div>
    <Image src={src} alt={alt} class={imageStyle} />
    <slot />
</div>
