---

---

<footer class="bg-yellow-primary relative bottom-0 mt-2 w-full h-40">
    <div class="flex align-middle justify-between h-full p-5">
        <p>
            2250 S. Rancho Drive #165<br />
             Las Vegas, NV 89102 <br />
            <b>Telephone:</b> 702-386-8849 <br />
            <b>Email:</b>
            <span class="hover:underline active:no-underline">
                <a href="mailto:Memberaction@seiunv.org"
                    >Memberaction@seiunv.org</a
                >
            </span>
            <br />
            <b>Fax:</b> 702-386-4883 <br />
        </p>
    </div>
</footer>

<style>
    .footer {
        margin-top: 50px;
        height: 150px;
        background: var(--color-tertiary);
    }

    .footer .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }
</style>
