---
export interface Props {
    text: string;
}

const {text = 'Title Text'} = Astro.props as Props;
---
<h1 class="m-auto font-Trebuchet font-bold text-center text-purple-primary py-5 text-5xl">{text}</h1>