---
export interface Props {
    text?: string;
}

const { text = "Title Text" } = Astro.props as Props;
---

<h1
    class="m-auto font-Trebuchet font-bold text-center text-honey-flower-800 py-5 text-4xl lg:text-5xl"
>
    {text}
</h1>
