---
import logo from '../images/seiu-WEBSITE-LOGO-1t.png'
---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/executive_board">Executive Board</a></li>
                <li><a href="/stewards">My Stewards</a></li>
                <li><a href="/join">Join Local 1107</a></li>
                <li><a href="about.html">SEIU Careers</a></li>
                <li><a href="blog.html">News and Updates</a></li>
            </ul>
        </nav>
    </div>
</header>


<style>
    .header {
        height: 70px;
        background: var(--color-primary);
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
    }

    .header img {
        height: 35px;
        vertical-align: middle;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 10px;
    }

    .header nav ul li a {
        color: #fff;
    }
</style>