---
export interface Props {
    text: {
        title: string;
        body: string;
    }[];
    styling?: string;
}

const {
    text,
    styling = "grid grid-cols-1 sm:grid-cols-2 gap-0 py-0 px-5 my-7 mx-auto max-w-5xl sm:max-w-[90vw]",
} = Astro.props as Props;
---

<div class="flex justify-center m-auto">
    <div class={styling}>
        {
            text.map((feature) => (
                <div class="max-w-md bg-white p-5 m-5 rounded-md shadow-sm shadow-black flex-col">
                    <h1 class="text-purple-primary text-xl pb-1.5 font-bold font-Trebuchet">
                        {feature.title}
                    </h1>
                    <p class="font-Roboto">{feature.body}</p>
                </div>
            ))
        }
    </div>
</div>

<style>
    .features .container {
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 20px;
        padding: 0 20px;
        margin: 30px auto;
    }
    @media (max-width: 500px) {
        .features .container {
            grid-template-columns: 1fr;
        }
    }
</style>
