---
export interface Props {
  href: string;
  target?: string;
  color?: string;
}

const { href, target, color = "text-blue-600" } = Astro.props as Props;
---

<a
  href={href}
  target={target}
  class={"inline-block hover:underline active:no-underline".concat(" ", color)}
>
  <slot />
</a>
