---
import Button from '../components/Button.astro'

import Placeholder from '/images/protest.jpg'
import Purple from '/images/purple_transparent.png'

export interface Props {
    featuredImg: string; /* Picture for the preview */
    title: string;
    excerpt: string;
    date: string;
    url: string;
}

const {featuredImg, title = 'News Story Title', excerpt = 'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.', date = '2023-01-01', url = '/'} = Astro.props as Props;
---

<div class="card">
    <a href={'/'+ url}>
        <div class="thumb">
            <img class="featuredImg" src={featuredImg ? featuredImg : Placeholder} alt="" />
            <div class="transparent">
                <img class="absolute top-0 left-0" src={Purple} alt=""/>
            </div>

            <div class="readMore">
                <h1 class="text-white text-center font-Trebuchet text-4xl absolute top-[100px] left-1/2 -translate-x-1/2"><b>Read More</b></h1>
            </div>

        </div>
    </a>

    <div class="info">
        <h2 class="font-Trebuchet font-bold text-xl py-2 text-ellipsis whitespace-nowrap overflow-hidden">{title}</h2>
        <p class="py-1 font-bold font-Roboto">{new Date(date).toLocaleDateString()}</p>
        <p class="py-1 font-Roboto">{excerpt}</p>
        <Button text="Read More" href={url} />
    </div>



</div>


<style>

    .info {
        font-family: 'Roboto', sans-serif;
        padding-left: 10px;
        padding-bottom: 10px;
        z-index: 2;
    }

    .card {
        position: relative;
        max-width: 400px;
        display: flex;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin: 20px;
    }

    .transparent {
        opacity: 0;
        transition: 0.3s;
    }


    .featuredImg {
        filter: grayscale(0);
        transition: 0.3s;
    }


    .readMore {
        opacity: 0;
        z-index: 0;
        margin: auto;
    }

    .thumb {
        z-index: 6;
    }

    .thumb img {
        border-radius: 10px 10px 0 0;
        aspect-ratio: 3/2;
        object-fit: cover;
    }

    .thumb:hover {
        cursor: pointer;
    }

    .thumb:hover > .transparent {
        opacity: 100;
        transition: 0.3s;
    }

    .thumb:hover > .featuredImg {
        filter: grayscale(100%);
        transition: 0.3s;
    }

    .thumb:hover > .readMore {
        opacity: 1;
        transition: opacity 0.6s;
    }


</style>