---
import ProfileCard from './ProfileCard.astro'

export interface Props {
    data: {
        name: string;
        profileImg: string; /* Picture of the Steward, if any. Otherwise, a placeholder is put instead */
        [key: string]: string;
    }[];
}

const {data} = Astro.props as Props;

---

<section class="flex justify-center">
    <div class="grid">
        <div class="container">
            {data.map((curPerson) => (
                    <ProfileCard person={curPerson} />
            ))}
        </div>
    </div>
</section>



<style>

    .grid .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-column-gap: 0;
        margin: auto
    }

    @media (max-width: 550px) {
        .grid .container {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 0;
            margin: auto
        }
    }


</style>