---
import ProfileCard from "./ProfileCard.astro";

import type { Profile } from "../Profile";
export interface Props {
    data: Profile[];
}

const { data } = Astro.props as Props;
---

<div class="flex justify-center content-center m-auto max-w-screen-xl">
    <div
        class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-4"
    >
        {data.map((curPerson) => <ProfileCard person={curPerson} />)}
    </div>
</div>
