---
export interface Props {
  text: string;
  styling?: string;
}

const {
  text,
  styling = "pb-2 text-center text-honey-flower-800 italic font-Trebuchet",
} = Astro.props as Props;

const size = text.length <= 50 ? "text-2xl lg:text-3xl" : "text-xl";
---

<h1 class={styling.concat(" ", size)}>
  {text}
</h1>
