---
export interface Props {
    title: string;
}

const { title = "" } = Astro.props as Props;
---

<div class="bg-lavender">
    <div class="title">{title}</div>
    <slot />
</div>

<style>
    .title {
        text-shadow: 2px 2px 7px #522c79;
        color: #000;
        font-family: Georgia, sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 40px;
        font-size: 40px;
    }
</style>
