---
export interface Props {
    title: string;
}

const { title = "" } = Astro.props as Props;
---

<div
    class="bg-gradient-to-b from-honey-flower-100 via-honey-flower-300 to-supernova-100"
>
    <div class="text-black font-bold font-Trebuchet text-center py-10 text-5xl">
        {title}
    </div>
    <slot />
</div>
