---
export interface Props {
    title: string;
}

const {title = ''} = Astro.props as Props;
---

<div class="purple">
    <div class="title">{title}</div>
    <slot />
</div>


<style>

    .purple {
        background: #582C83;
    }
    .title {
        text-shadow: 3px 3px 3px #000;
        color: #ffffff;
        font-family: "Engravers MT", sans-serif;
        font-weight: bolder;
        text-align: center;
        padding: 40px;
        font-size: 40px;
    }
</style>