---
export interface Props {
    text: string;
}

const { text = "Separator" } = Astro.props as Props;
---

<div
    class="bg-yellow-300 rounded-lg text-honey-flower-800 max-w-lg m-auto italic font-bold font-Trebuchet text-center p-2.5 text-4xl"
>
    <span>{text}</span>
</div>
