---
import HeadingTitle from "../../components/HeadingTitle.svelte";
import SNRHACalculator from "../../components/WageCalculator/SNRHACalculator.svelte";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="SNRHA Wage Calculator" centered="true">
  <HeadingTitle text="SNRHA Wage Calculator" />
  <div class="mx-auto">
    <SNRHACalculator client:load />
  </div>
</Layout>
