---
import NewsGrid from "../NewsGrid.astro";
import Button from "../Button.astro";
import UpdatesButtons from "./UpdatesButtons.astro";

export interface Props {
    numPosts?: number;
    bgColor?: string;
}

const {
    numPosts = 3,
    bgColor = "bg-gradient-to-bl from-honey-flower-900 to-honey-flower-500",
} = Astro.props as Props;
const updates = await Astro.glob("/src/posts/updates/*.md");
const articles = await Astro.glob("/src/posts/news articles/*.md");
const pressReleases = await Astro.glob("/src/posts/press releases/*.md");
const previews = updates
    .concat(articles)
    .concat(pressReleases)
    .sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? 1 : -1))
    .slice(0, numPosts);

const sectionClass = "p-7 ".concat(bgColor);
---

<section class={sectionClass}>
    <h1
        class="shadowClass text-supernova-500 text-5xl m-auto text-center font-Trebuchet font-bold"
    >
        Latest in SEIU 1107
    </h1>
    <UpdatesButtons />
    <NewsGrid
        previews={previews}
        breakpoints="sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    />
    <UpdatesButtons />
</section>

<style>
    .shadowClass {
        text-shadow: 3px 3px 1px black;
    }
</style>
