---
import Button from "../Button.svelte";
import PostsGrid from "../Posts/PostsGrid.svelte";

export interface Props {
  numPosts?: number;
  bgColor?: string;
  titleStyle?: string;
  textStyle?: string;
}

const {
  numPosts = 3,
  bgColor = "bg-gradient-to-b from-honey-flower-900 to-honey-flower-700",
  titleStyle = "shadowClass text-supernova-500 text-5xl m-auto text-center font-Trebuchet font-bold",
  textStyle = "shadowClass font-Roboto text-white",
} = Astro.props as Props;
const blog = await Astro.glob("../../posts/blog/*/*.mdx");
const articles = await Astro.glob("../../posts/news articles/*/*.mdx");
const pressReleases = await Astro.glob("../../posts/press releases/*/*.mdx");
const previews = blog
  .concat(articles)
  .concat(pressReleases)
  .sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? 1 : -1))
  .slice(0, numPosts);

const sectionClass = "py-7 ".concat(bgColor);
---

<section class={sectionClass}>
  <h1 class={titleStyle}>Latest in SEIU 1107</h1>
  <p
    class={"text-center pt-4 text-2xl max-w-screen-lg m-auto ".concat(
      textStyle
    )}
  >
    Find out how we're winning improvements for workers and the Nevadans we
    serve.
  </p>

  <PostsGrid
    previews={previews}
    breakpoints="sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
  />
  <p
    class="font-bold font-Roboto text-white text-center pt-2 text-3xl shadowClass"
  >
    Read More:
  </p>
  <div class="p-2 flex justify-center">
    <Button
      text="Visit Updates Page"
      href="/updates/"
      styling={"bg-supernova-400 hover:bg-supernova-500 text-honey-flower-800 hover:scale-105 active:bg-supernova-600"}
    />
  </div>
</section>

<style>
  .shadowClass {
    text-shadow: 3px 3px 1px black;
  }
</style>
