---
import NewsGrid from "../NewsGrid.astro";
import Button from "../Button.astro";
const posts = await Astro.glob("/src/posts/*.md");
const previews = posts
    .sort((a, b) => (a.frontmatter.date < b.frontmatter.date ? 1 : -1))
    .slice(0, 3);
---

<section class="NewsGrid">
    <a href="/news_updates/">
        <h1
            class="text-yellow-primary text-5xl m-auto text-center font-Trebuchet font-bold active:no-underline hover:underline"
        >
            Latest News
        </h1>
    </a>

    <NewsGrid
        previews={previews}
        breakpoints="sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3"
    />

    <div class="flex m-auto justify-center flex-col max-w-[min(320px,_90vw)]">
        <Button
            text="View All Press Releases"
            href="/news_updates/"
            color="bg-yellow-primary hover:bg-yellow-darker text-purple-primary"
        />
    </div>
</section>

<style>
    .NewsGrid {
        height: auto;
        background-color: var(--color-secondary);
        background-image: linear-gradient(
            to bottom,
            var(--color-primary),
            rgb(15 23 42 / 0)
        );
        padding: 30px;
    }
</style>
