---
import GetInvolvedButtons from "./GetInvolvedButtons.astro";
const paragraphClass = "text-Roboto py-2.5 text-xl xl:text-2xl text-black";
---

<div class="bg-gradient-to-b from-honey-flower-200 to-honey-flower-300">
    <div
        class="max-w-screen-2xl flex flex-col lg:flex-row justify-center m-auto"
    >
        <div class="py-10 max-w-xl mx-5 lg:mx-10 xl:mx-40 my-auto">
            <div
                class="pb-5 text-honey-flower-800 text-5xl m-auto text-left font-Trebuchet font-bold"
            >
                We're Stronger Together
            </div>
            <p class={paragraphClass}>
                SEIU Local 1107 is the largest union for health care and public
                employees in Nevada. Together, we're building power to protect
                quality public services and raise standards for all workers. Our
                members are committed to building cross-racial unity and
                bringing our communities together.
            </p>
            <p class={paragraphClass}>
                As a diverse, member-driven and just organization, we're
                creating real change for working people. Nevada home care
                workers, who serve our seniors and most vulnerable residents,
                recently raised their minimum wage to $16 dollars an hour. Our
                healthcare workers recently won standard-setting contracts, and,
                in 2024, thousands of our state's public employees will unite to
                secure contracts that respect and invest in frontline workers
                and the critical services we all rely on.
            </p>
        </div>

        <div class="hidden lg:block">
            <GetInvolvedButtons />
        </div>
    </div>
</div>
<div class="block lg:hidden">
    <GetInvolvedButtons />
</div>

<style>
    .shadowClass {
        text-shadow: 3px 3px 1px black;
    }
</style>
