---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

import RaisingTheStakes from "/images/raising-the-stakes.png";

export interface Props {
    title: string;
    short_name?: string;
}

const { title = "Enter Shop Name", short_name } = Astro.props as Props;

const page_title = "SEIU 1107 " + (short_name ?? title) + " Stewards";
---

<Layout title={page_title}>
    <img
        class="flex justify-center m-auto max-h-[25vh]"
        src={RaisingTheStakes}
        alt=""
    />

    <h1 class="title-text"><span>{title}</span></h1>
    <slot />
</Layout>

<style>
    .banner {
        display: flex;
        justify-content: center;
        margin: auto;
        text-align: center;
        max-width: 800px;
        padding-top: 20px;
    }

    .title-text {
        text-align: center;
        font-family: Georgia, sans-serif;
        display: flex;
        justify-content: center;
        font-size: 60px;
        padding: 10px;
    }

    .title-text span {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        background-color: #fecd01;
        font-weight: bold;
        border-radius: 20px;
        width: auto;
        height: auto;
        padding: 10px 30px 10px 30px;
        background-clip: padding-box;
        margin-left: 100px;
        margin-right: 100px;
    }
</style>
